.idea/*
.nyc_output
build
node_modules
test
src/**.js
coverage
*.log
package-lock.json
dist
*.tsbuildinfo

# settings.js
*.config.yml
*.jobs.csv
*.set-publish-profile-to-yaml.yml
*.set-deploy-slot.yml

# tmp
tmp
out.txt


.DS_Store
